<html>
    <header>
        <title>
            authentication
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </header>
    <body>
        <div class="container">
           <section>
               <h1>Signup</h1>
               <ul>
                   <li>username</li>
                   <li>full names</li>
                   <li>email</li>
                   <li>country</li>
               </ul>
           </section>
           <section>
               <h1>signin</h1>
               <ul>
                   <li>username or email</li>
                   <li>password</li>
               </ul>
           </section>
        </div>
    </body>
</html>