<html>
<header>
    <title>
        Jobs website User Interface
    </title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/main.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Lobster|Permanent+Marker&display=swap" rel="stylesheet"> 
</header>

<body>
        
    <div class="container-fluid">
        <!--navigation bar-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
                        <h1><a class="navbar-brand" href="index.html">HIRE+ Jobs</a></h1>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse" id="navbarText">
                                
                                        <ul class="nav navbar-nav ml-auto navbar-right">
                                  <li class="nav-item active">
                                    <p><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></p>
                                  </li>
                                  <li class="nav-item">
                                    <p><a class="nav-link" href="authentication.html"><i class="fa fa-user" style="color:rgb(181, 230, 169)"></i>Sign in</a></p>
                                  </li>
                                  <li class="nav-item">
                                    <p><a class="nav-link" href="authentication.html"><i class="fa fa-user-plus" style="color:grey"></i>Sign Up
                                    </a></p>
                                  </li>
                            </ul>
                            
                          
                        </div>
                      </nav>
                      
        <!---banner-->
        <div class="hero">
            <div class="hero-text">
                    <h3>
                        Welcome To Hire+ jobs
                    </h3>
                    <h4>we link amazing talents to well paying jobs</h4>
                    <button><a href="authentication.html">join us now</a> </button>
            </div>
                
            </div>
            <div class="clearfix"></div>
            <h1 style="text-align: center;"><i><u>Available Jobs</u></i></h1>
        <section>
            <div class="row">
                   
                    <div class="col-md-4 col-sm-12">
                            <div class="card">
                                    <div class="card-body">
                                      <h2 class="card-title">Job title</h2>
                                      
                                      <p class="card-text">Job summary</p>
                                      <a href="jobdetails.html" class="card-link">View job Description</a>
                                      
                                    </div>
                             </div>
                             
                    <div class="clearfix"></div>
                    <hr>
                    </div>
                    
                    <div class="col-md-4 col-sm-12">
                            <div class="card">
                                    <div class="card-body">
                                      <h2 class="card-title">Job title</h2>
                                      
                                      <p class="card-text">Job summary</p>
                                      <a href="jobdetails.html" class="card-link">View job Description</a>
                                      
                                    </div>
                             </div>
                             <div class="clearfix"></div>
                    <hr>
                    </div>
                    
                    <div class="col-md-4 col-sm-12">
                            <div class="card">
                                    <div class="card-body">
                                      <h2 class="card-title">Job title</h2>
                                      
                                      <p class="card-text">Job summary</p>
                                      <a href="jobdetails.html" class="card-link">View job Description</a>
                                      
                                    </div>
                             </div>
                             <div class="clearfix"></div>
                    <hr>
                    </div>
                    
                    <div class="col-md-4 col-sm-12">
                            <div class="card">
                                    <div class="card-body">
                                      <h2 class="card-title">Job title</h2>
                                      
                                      <p class="card-text">Job summary</p>
                                      <a href="jobdetails.html" class="card-link">View job Description</a>
                                      
                                    </div>
                             </div>
                             <div class="clearfix"></div>
                    <hr>
                    </div>
                    
                    <div class="col-md-4 col-sm-12">
                            <div class="card">
                                    <div class="card-body">
                                      <h2 class="card-title">Job title</h2>
                                      
                                      <p class="card-text">Job summary</p>
                                      <a href="jobdetails.html" class="card-link">View job Description</a>
                                      
                                    </div>
                             </div>
                             <div class="clearfix"></div>
                    <hr>
                    </div>
                    
                    <div class="col-md-4 col-sm-12">
                            <div class="card">
                                    <div class="card-body">
                                      <h2 class="card-title">Job title</h2>
                                      
                                      <p class="card-text">Job summary</p>
                                      <a href="jobdetails.html" class="card-link">View job Description</a>
                                      
                                    </div>
                             </div>
                             <div class="clearfix"></div>
                    <hr>
                    </div>
                    <br>
                    <hr>
                    <div class="col-md-4 col-sm-12">
                            <div class="card">
                                    <div class="card-body">
                                      <h2 class="card-title">Job title</h2>
                                      
                                      <p class="card-text">Job summary</p>
                                      <a href="jobdetails.html" class="card-link">View job Description</a>
                                      
                                    </div>
                             </div>
                             <div class="clearfix"></div>
                    <hr>
                    </div>
                   
                    <div class="col-md-4 col-sm-12">
                            <div class="card">
                                    <div class="card-body">
                                      <h2 class="card-title">Job title</h2>
                                      
                                      <p class="card-text">Job summary</p>
                                      <a href="jobdetails.html" class="card-link">View job Description</a>
                                      
                                    </div>
                             </div>
                             <div class="clearfix"></div>
                    <hr>
                    </div>
                    
                    <div class="col-md-4 col-sm-12">
                            <div class="card">
                                    <div class="card-body">
                                      <h2 class="card-title">Job title</h2>
                                      
                                      <p class="card-text">Job summary</p>
                                      <a href="jobdetails.html" class="card-link">View job Description</a>
                                      
                                    </div>
                             </div>
                             <div class="clearfix"></div>
                    <hr>
                    </div>
                    
                    <div class="col-md-4 col-sm-12">
                            <div class="card">
                                    <div class="card-body">
                                      <h2 class="card-title">Job title</h2>
                                      
                                      <p class="card-text">Job summary</p>
                                      <a href="jobdetails.html" class="card-link">View job Description</a>
                                      
                                    </div>
                             </div>
                             <div class="clearfix"></div>
                    <hr>
                    </div>
                    
                    <div class="col-md-4 col-sm-12">
                            <div class="card">
                                    <div class="card-body">
                                      <h2 class="card-title">Job title</h2>
                                      
                                      <p class="card-text">Job summary</p>
                                      <a href="jobdetails.html" class="card-link">View job Description</a>
                                      
                                    </div>
                             </div>
                             <div class="clearfix"></div>
                    <hr>
                    </div>
                    
                    <div class="col-md-4 col-sm-12">
                            <div class="card">
                                    <div class="card-body">
                                      <h2 class="card-title">Job title</h2>
                                      
                                      <p class="card-text">Job summary</p>
                                      <a href="jobdetails.html" class="card-link">View job Description</a>
                                      
                                    </div>
                             </div>
                             <div class="clearfix"></div>
                    <hr>
                    </div>
            </div>
                

        </section>
        <!--------About Section-->
        <section style="min-height: 50%">
                <div class="row" >
                        <div class="col-md-12 col-sm-12" >
                            <div class="about-section">
                                    <fieldset>    	
                                            <legend align="center">About Us</legend>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <p>This is where high-talent is linked<br>
                                                    to well paying jobs <br>
                                                     We go beyond your regional boundaries <br>
                                                     in search for best talents and opportunities.
                                                    </p>
                                                </div>
                                            </div>
                                            
                                        </fieldset>	  
                            </div>
                                           
                                     
                        </div>
                    </div>
                    <div class="clearfix"></div>
        </section>
        
        <section>
                <div class="footer">
                        <div class="row">
                                
                            <div class="col-md-4 col-sm-12">
                                <h5 style="font-size: 13px; padding-top:20px; padding-left:20px; text-align: center;">HIRE+ JOBS</h5>
                                <hr>
                                <p style="font-size: 13px; padding-top:20px; padding-left:20px;">WE ARE HIRE+ - WE OPEN YOU TO A WORLD OF OPPORTUNITIES</p>
                            </div>
                            <div class="col-md-4 col-sm-12" style="text-align: center">
                                    <h5 style="font-size: 13px; padding-top:20px;">WE ARE SOCIAL</h5>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3"><img src="../assets/social_icons/g_plus.png"></div>
                                        <div class="col-md-3 col-sm-3"><img src="../assets/social_icons/facebook.png"></div>
                                        <div class="col-md-3 col-sm-3"><img src="../assets/social_icons/you_tube.png"></div>
                                        <div class="col-md-3 col-sm-3"><img src="../assets/social_icons/stumble_upon.png"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3"><img src="../assets/social_icons/skype.png"></div>
                                        <div class="col-md-3 col-sm-3"><img src="../assets/social_icons/flickr.png"></div>
                                        <div class="col-md-3 col-sm-3"><img src="../assets/social_icons/twitter.png"></div>
                                        <div class="col-md-3 col-sm-3"><img src="../assets/social_icons/pinterest.png"></div>
                                      </div>
                              </div>
                          
                          <div class="col-md-4 col-sm-12">
                              
                                <h5 style="font-size: 13px; padding-top:40px;"><a href="#">CREDITS |</a><a href="#">PRIVACY|</a><a href="#">ABOUT |</a><a href="#"> CONTACT </a></h5>
                                HIRE+ JOBS: OPENNING UP YOUR WORLD OF OPPORTUNITIES
                          </div>
                        </div>
                        <hr>
                        <section class="container-fluid footer_section">
                              <p style="text-align: center;">
                                Copyright &copy; 2019:  HIRE+ JOBS.
                              </p>
                            </section>
                    
                  </div>
        </section>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>