<html>
    <header>
        <title>
            user
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </header>

    <body>
        <nav>
                <li>logged in users will</li>
                <ul>
                    <li>view jobs</li>
                    <li>my cv</li>
                    <li>see notifications</li>
                    <li>view likely jobs</li>
                </ul>
        </nav>
        <section>
            <h1>profile pic</h1>
            <h1>bio data</h1>
        </section>
        <section>
            <h1>toggle section</h1>
            <h1>list of jobs</h1>
        </section>
    </body>
</html>